body {
    background-image: url(../images/background.jpg);
}

.container {
    text-align:center;
}
#heading {
    font-size:50px;
    font-weight:bolder;
    color:white;
    padding:30px 30px 5px 30px;
    text-shadow: 3px 3px 4px rgb(23, 183, 204);
}

.btn {
    font-size:24px;
    font-weight:bold;
}

#start-game {
    margin-top:10%;
    background-color: turquoise;
}

#question-area {
    background:white;
    box-shadow: 5px 5px 20px  turquoise;
    text-align:center;
    padding:20px;
    margin-top:20px;

}

#time-remaining {
    font-size: 24px;
    font-weight:bold;
    background:white;
    text-align:center;
    margin-bottom:5px;
    padding-top:10px;
    box-shadow: 5px 5px 20px  turquoise;

}


#evaluation-area{
    background:white;
    text-align:center;
    font-weight:bold;
    padding-top:120px;
    padding-bottom:120px;
    font-size:24px;
    box-shadow: 5px 5px 20px  turquoise;
}

label {
    padding-left:7px;
}

.options {
    padding:5px;
    margin-left:20%;
    margin-right:20%;
    margin-top:10px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 5px  turquoise;
}

#result {
    font-size:24px;
    font-weight:bold;
}

.options:hover , .options:focus{
    background: turquoise;
    cursor:pointer;
}

#restart-game {
    margin-top:15px;
    font-size:20px;
    background-color: turquoise;
}
